@page "/"

@using ISAProjekat23.Model.Domain;

@inherits ComponentBase

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<PageTitle>Index</PageTitle>
<!-- Custom styles for the cards -->
<style>
    .company-card {
        margin-bottom: 20px;
        height: 200px; /* Fixed height for each card */
        text-decoration: none; /* Remove default link styling */
        color: inherit; /* Inherit color from parent */
    }

        .company-card:hover {
            text-decoration: none; /* Remove underline on hover */
        }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; /* Ensure the card body takes full height */
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Show up to 3 lines */
        -webkit-box-orient: vertical;
    }

    .rating {
        margin-top: auto; /* Stick to the bottom of the card */
    }
</style>
<h1>Welcome to the MESS@(!name.Equals("") ? ", " + name : "")!</h1>

<h4><b>M</b>edical <b>E</b>quipment <b>S</b>hop <b>S</b>ite</h4>

<div class="container mt-5">
    <h2>Our companies</h2>

    <div class="row">

        @foreach (var company in companies)
        {
            string link = $"https://localhost:7061/products/{company.Id}";
            <a href="@link" class="col-md-4 company-card">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@company.Name</h5>
                        <p class="card-text">@company.Address</p>
                        <p class="card-text">@company.Description</p>
                        <div class="rating">
                            @company.Rating
                        </div>
                    </div>
                </div>
            </a>
        }

      
        
    </div>
</div>

@code {
    string name = "";
    private List<Company>? companies = new List<Company>();

    protected override async Task OnInitializedAsync()
    {
        var user = await LocalStorage.GetItemAsync<User>("currentUser");
        if (user != null)
        {
            name = user.FirstName;
        }
        companies = await Http.GetFromJsonAsync<List<Company>>("https://localhost:7241/Company/GetAllCompanies");
    }
}