<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Medical center</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div hidden="@IsLoggedIn" class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div hidden="@IsLoggedIn" class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div hidden="@(!IsLoggedIn)" class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div hidden="@(!IsLoggedIn)" class="nav-item px-3">
            <NavLink class="nav-link" href="survey">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Survey
            </NavLink>
        </div>
        <div hidden="@(!IsLoggedIn)" class="nav-item px-3">
            <NavLink class="nav-link" href="appointments">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Appointments
            </NavLink>
        </div>
        <div hidden="@(!IsLoggedIn)" class="nav-item px-3">
            <NavLink class="nav-link" href="complaint">
                <span class="oi oi-list-rich" aria-hidden="true"></span> File a complaint
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    [Parameter]
    public bool IsLoggedIn { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
